header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

main {
  margin-top: 8rem;
}

.grid__1,
.grid__21,
.grid__22 {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .card__container {
    width: 100rem;
    column-gap: 1.3rem;
  }

  .card__latest-1 * {
    width: 20rem;
  }

  .card__latest-1 {
    width: 22.4rem;
  }

  .center-card {
    width: 100rem;
  }
}

@media (max-width: 1024px) {
  .grid__1 {
    height: 47rem;
  }

  .grid__21,
  .grid__22 {
    height: 23rem;
  }

  .main-text-1 {
    font-size: 1.5rem;
  }

  .h-1 {
    font-size: 3.2rem;
  }

  .main-date {
    font-size: 1.1rem;
  }

  .sub-text-1 {
    font-size: 1.1rem;
  }

  .sub-h-1 {
    font-size: 2.1rem;
  }

  .sub-date {
    font-size: 1.1rem;
  }

  .center {
    width: 90rem;
  }

  .card__container {
    margin-top: 6rem;
    width: 90rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .hidden {
    display: block;
  }

  .logo__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 8rem;
    width: 10rem;
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 1.7rem;
  }

  .header__two-left,
  .header__one-left {
    margin-left: 10rem;
  }
}

@media (max-width: 916px) {
  .center {
    width: auto;
  }

  .card__container {
    margin-top: 6rem;
    width: 80rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media (max-width: 820px) {
  .center {
    width: auto;
  }

  .card__container {
    margin-top: 6rem;
    width: 74rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .header__three {
    z-index: 1000;
    background-color: #fff;
  }

  .header__three-icon {
    position: relative;
  }

  .header__three-icon img {
    position: fixed;
    left: 0;
    top: 0;
    width: 5.5rem;
    height: 5.4rem;
  }

  .main-img img {
    width: 10rem;
  }

  .grid_0 {
    grid-template-columns: 1fr;
    column-gap: 0.01rem;
  }

  .grid__1 {
    margin-bottom: 1rem;
  }

  .grid__1,
  .grid__21,
  .grid__22 {
    height: 23.5rem;
  }

  .main-text-1 {
    font-size: 1.1rem;
  }

  .h-1 {
    font-size: 2.1rem;
  }

  .main-date {
    font-size: 1.1rem;
  }

  main {
    margin-top: 5.4rem;
  }

  .center {
    width: auto;
  }

  .card__container {
    margin-top: 6rem;
    grid-template-columns: 1fr;
    padding: 0 1.2rem;
    width: 100%;
  }
}

.mar-btm {
  margin-bottom: 5rem;
}